{{#sidebar.section as |section|}}
  {{section.input label="Identifier" value=model.identifier update=(action "update" "identifier")}}
  {{section.position label="Position" value=model.position update=(action "update" "position")}}
{{/sidebar.section}}

{{#if sprites}}
  {{#sidebar.section as |section|}}
    {{section.dropdown label="Sprite" items=sprites selected=sprite update=(action "sprite")}}
  {{/sidebar.section}}
{{/if}}

{{#if model.sprite}}

  {{#sidebar.section as |section|}}

    {{#section.custom class="sprite"}}
      <div class="identifier">{{model.sprite.identifier}}</div>
      <div class="preview">
        {{!-- TODO: sprite preview --}}
        {{!-- {{ui-block/background-image class="image" url=model.sprite.thumbnail}} --}}
      </div>
    {{/section.custom}}

    {{yield section}}

  {{/sidebar.section}}

{{else}}

  {{#sidebar.section as |section|}}
    {{section.placeholder value="Missing sprite"}}
  {{/sidebar.section}}

{{/if}}

{{#sidebar.section as |section|}}
  {{section.alignment label="Alignment" value=model.alignment update=(action "update" "alignment")}}
  {{section.flip label="Flip" value=model.flip update=(action "update" "flip")}}
{{/sidebar.section}}
