{{#sidebar.section class="content" as |section|}}

  {{#section.header as |header|}}
    {{#header.content as |content|}}
      {{content.type value=model.typeName}}
      {{content.identifier value=model.identifier}}
    {{/header.content}}
  {{/section.header}}

  {{#section.padded class="preview"}}
    {{ui-block/sprites/sprite/loop/preview loop=model pixel=2}}
  {{/section.padded}}

  {{section.input label="Identifier" value=model.identifier update=(action "update" "identifier")}}

  {{#section.custom class="frames"}}
    {{#each model.frames as |frame idx|}}
      <div class="frame">
        <div class="index">
          {{#if frame}}
            #{{frame.index}}
          {{else}}
            Missing frame
          {{/if}}
        </div>
        <div class="actions">
          {{fa-icon "trash-alt" prefix="far" class="action" click=(action "removeFrame" idx)}}
        </div>
      </div>
    {{/each}}
  {{/section.custom}}
  {{#section.actions as |actions|}}
    {{#if frame}}
      {{actions.button value=(concat "Add frame #" frame.index) disabled=section.disabled action=(action "addFrame")}}
    {{else}}
      {{actions.button value="No frames" disabled=true}}
    {{/if}}
  {{/section.actions}}
{{/sidebar.section}}

{{#sidebar.section class="section" as |section|}}
  {{#section.actions as |actions|}}
    {{actions.button value="Delete Loop" action=(action "delete")}}
  {{/section.actions}}
{{/sidebar.section}}