<div class="editor">
  {{#ui-konva/autosized class="autosized" as |size|}}
    {{#ui-konva/stage class="stage" size=size as |stage|}}

      {{#ui-konva/layer}}

        {{ui-route/wip/editor/thing
            x=x
            y=y
            width=width
            height=height
            click=(action 'select' stage.component)
            update=(action 'updateProps')
        }}

        {{ui-route/wip/editor/thing x=(add x 100) y=y width=width height=height click=(action 'select' stage.component)}}
        {{ui-route/wip/editor/thing x=x y=(add y 100) width=width height=height click=(action 'select' stage.component)}}

        {{ui-route/wip/editor/thing
            x=(add x 100)
            y=(add y 100)
            width=width
            height=height
            click=(action 'select')
        }}

      {{/ui-konva/layer}}

    {{/ui-konva/stage}}
  {{/ui-konva/autosized}}
</div>

<div class="sidebar">
  <div class="section">
    <div class="row">
      {{ui-block/button value='Reset' action=(action 'reset')}}
    </div>
    <div class="row">
      {{ui-block/slider min=0 max=300 step=0.5 value=x update=(action 'update' 'x')}}
    </div>
    <div class="row">
      {{ui-block/slider min=0 max=300 step=0.5 value=y update=(action 'update' 'y')}}
    </div>
    <div class="row">
      {{ui-block/slider min=0 max=100 step=1 value=width update=(action 'update' 'width')}}
    </div>
    <div class="row">
      {{ui-block/slider min=0 max=100 step=1 value=height update=(action 'update' 'height')}}
    </div>
  </div>
</div>