<div class="label">{{label}}</div>

{{#if properties}}
  <div class="items">
    {{#each properties as |item|}}
      <div class="item">
        <div class="label">{{item.key}}</div>
        <div class="content">
          {{ui-block/input class="input" value=item.value update=(action "update" item) enter=(action "update" item)}}
          {{fa-icon "trash-alt" prefix="far" class="delete" click=(action "delete" item)}}
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="placeholder">Empty</div>
{{/if}}

<div class="add">
  {{ui-block/input class="input" value=key update=(action "key") disabled=disabled}}
  {{ui-block/button class="action" value="Add" disabled=(or addDisabled) action=(action "add")}}
</div>