{{#if locked}}
  <div class="icon" role="button" {{action (action "locked" false)}}>{{fa-icon "lock"}}</div>
{{else}}
  <div class="icon" role="button" {{action (action "locked" true)}}>{{fa-icon "unlock"}}</div>
{{/if}}