<div class="content">
  {{ui-block/sprite/frame/editor class="editor" pixel=size.value frame=frame update=(action "update")}}
</div>
<div class="sidebar">

  <div class="row title">
    <div class="name">{{sprite.name}}</div>
    <div class="identifier">{{sprite.identifier}}</div>
    <div class="size">{{sprite.size.width}}×{{sprite.size.height}}px</div>
  </div>

  <div class="row frame">
    <div class="prefix">Frame</div>
    <div class="number">#{{frame.index}}</div>
  </div>

  <div class="row preview">
    {{ui-block/background-image
        url=frame.preview.url
        size=(hash
          width=(mul frame.preview.size.width 2)
          height=(mul frame.preview.size.height 2)
        )
        class="image"
    }}
  </div>

  <div class="row frames">
    {{ui-block/button value="Prev" disabled=(not prev) action=(action "frame" prev)}}
    {{ui-block/button value="Next" disabled=(not next) action=(action "frame" next)}}
  </div>

  <div class="row sizes">
    {{#ui-block/segments class="sizes" items=sizes selected=size select=(action "size") as |hash|}}
      {{hash.component value=hash.item.label}}
    {{/ui-block/segments}}
  </div>

  <div class="row actions">
    {{ui-block/button value="Clear" action=(action "fill" 0)}}
    {{ui-block/button value="Fill" action=(action "fill" 2)}}
    {{ui-block/button value="Invert" action=(action "invert")}}
  </div>

</div>