{{#if sprite.isLoading}}

  <div>Loading…</div>

{{else}}

  <div>#{{frame.index}} {{frame.size.width}}x{{frame.size.height}}px</div>

  {{ui-block/sprite/frame/editor frame=frame size=size update=(action "update") class="editor"}}

  <div class="actions">
    {{ui-block/button value="Large" action=(action "size" "large")}}
    {{ui-block/button value="Regular" action=(action "size" "regular")}}
    {{ui-block/button value="Small" action=(action "size" "small")}}
  </div>

  <div class="actions">
    {{ui-block/button value="Shuffle" action=(action "shuffle")}}
    {{ui-block/button value="Clear" action=(action "fill" 0)}}
    {{ui-block/button value="Fill" action=(action "fill" 2)}}
    {{ui-block/button value="Invert" action=(action "invert")}}
  </div>

  <div class="actions">
    {{ui-block/button value="Prev" disabled=(not prev) action=(action "prev")}}
    {{ui-block/button value="Next" disabled=(not next) action=(action "next")}}
  </div>

{{/if}}
