{{#if pixels.isLoading}}

  <div>Loading…</div>

{{else}}

  <div>{{pixels.size.width}}x{{pixels.size.height}}px</div>

  {{ui-block/pixels/editor pixels=pixels update=(action "update") class="editor"}}

  <div class="actions">
    {{ui-block/button value="Shuffle" action=(action "shuffle")}}
    {{ui-block/button value="Clear" action=(action "fill" 0)}}
    {{ui-block/button value="Fill" action=(action "fill" 2)}}
    {{ui-block/button value="Invert" action=(action "invert")}}
  </div>

{{/if}}
