<div class="master">
  <div class="preview">
    {{ui-block/sprite/loops/loop/preview loop=loop pixel=2}}
  </div>
  <div class="toggle" {{action "toggle"}} role="button">
    {{#if loop.collapsed}}
      {{fa-icon "angle-right" class="icon"}}
    {{else}}
      {{fa-icon "angle-down" class="icon"}}
    {{/if}}
    <div class="identifier">{{loop.identifier}}</div>
  </div>
</div>

{{#unless loop.collapsed}}

  {{#ui-block/sidebar disabled=loop.locked class="details" as |sidebar|}}
    {{#sidebar.section class="section" as |section|}}
      {{section.input label="Identifier" value=loop.identifier update=(action "update" "identifier")}}
      {{section.input label="Indexes" value=indexes update=(action "updateIndexes")}}
      {{#section.actions as |actions|}}
        {{actions.button value="Delete" action=(action "delete")}}
      {{/section.actions}}
    {{/sidebar.section}}
  {{/ui-block/sidebar}}

{{/unless}}