<div class="row">
  {{#if store.user}}
    {{store.user.email}} {{link-to "sign out" "session.delete"}}
  {{else}}
    {{link-to "sign in" "session.new"}}
  {{/if}}
</div>
<div class="row">
  {{link-to "wip/foobar" "wip.foobar"}}
</div>