<div class="row scenes">
  {{#each state.world.scenes as |scene|}}
    <div class="scene{{if (eq state.scene scene) ' selected'}}" {{action 'selectScene' scene}} role="button">
      <div class="details">
        <div class="name">{{scene.name}}</div>
        <div class="identifier">{{scene.identifier}}</div>
        <div class="size">{{scene.grid.width}}×{{scene.grid.height}} @ {{scene.size.width}}×{{scene.size.height}}px</div>
      </div>
      <div class="accessories">
        <div class="delete" role="button" {{action "deleteScene" scene}}>{{fa-icon "trash-alt" prefix="far"}}</div>
      </div>
    </div>
  {{/each}}
</div>
<div class="row actions">
  {{ui-block/button value="Add new scene" action=(action "createScene")}}
</div>
