{{component content class="content"}}
<div class="accessories">
  <div class="icon" {{action 'hidden' bubbles=false}} role="button">{{fa-icon (if model.hidden "eye-slash" "eye") prefix="far"}}</div>
  <div class="icon" {{action 'lock' bubbles=false}} role="button">{{fa-icon (if model.locked "lock" "unlock")}}</div>
</div>