<div class="row title">
  <div class="row">
    <div class="identifier">{{sprite.identifier}}</div>
    <div class="name">{{sprite.name}}</div>
  </div>
  <div class="size">{{sprite.size.width}}×{{sprite.size.height}}px</div>
</div>

<div class="row frame">
  <div class="prefix">Frame</div>
  <div class="number">#{{frame.index}}</div>
</div>

<div class="row preview">
  {{ui-block/background-image
      url=preview.url
      size=preview.size
      class="image"
  }}
</div>

<div class="row sizes">
  {{ui-block/slider class="slider" min=1 max=32 value=state.pixel update=(action "pixel")}}
  {{ui-block/input class="input" value=state.pixel enter=(action "pixel") delayed=true}}
</div>

<div class="row actions">
  {{ui-block/button value="Clear" action=(action "fill" 0)}}
  {{ui-block/button value="Fill" action=(action "fill" 2)}}
  {{ui-block/button value="Invert" action=(action "invert")}}
</div>

<div class="row frames">
  {{ui-block/button value="Prev" disabled=(not state.prev) action=(action "frame" state.prev)}}
  {{ui-block/button value="Next" disabled=(not state.next) action=(action "frame" state.next)}}
</div>