<div class="section">
  <div class="row title">
    <div class="content">
      <div class="row">
        <div class="name">{{world.name}}</div>
      </div>
    </div>
    <div class="accessories">
      {{#if locked}}
        <div class="icon" role="button" {{action (action "locked" false)}}>{{fa-icon "lock"}}</div>
      {{else}}
        <div class="icon" role="button" {{action (action "locked" true)}}>{{fa-icon "unlock"}}</div>
      {{/if}}
    </div>
  </div>
</div>

<div class="section">
  <div class="row sizes">
    {{ui-block/slider class="slider" min=1 max=32 value=state.pixel update=(action "pixel")}}
    {{ui-block/input class="input" value=state.pixel enter=(action "pixel") delayed=true}}
  </div>
  <div class="row actions">
    {{ui-block/button value="Center" action=(action "center")}}
  </div>
</div>

<div class="section">
  <div class="row scenes">
    <div class="title">Scenes</div>
    {{#each world.scenes as |scene|}}
      <div class="scene{{if (eq state.scene scene) ' selected'}}" {{action 'selectScene' scene}} role="button">
        <div class="details">
          <div class="name">{{scene.name}}</div>
          <div class="identifier">{{scene.identifier}}</div>
          <div class="size">{{scene.grid.width}}×{{scene.grid.height}} @ {{scene.size.width}}×{{scene.size.height}}px</div>
        </div>
        <div class="accessories">
          <div class="delete" role="button" {{action "deleteScene" scene}}>{{fa-icon "trash-alt" prefix="far"}}</div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="row actions">
    {{ui-block/button value="Add new scene" action=(action "createScene")}}
  </div>
</div>