<div class="section">
  <div class="row title">
    <div class="content">
      <div class="row">
        <div class="name">{{world.name}}</div>
      </div>
    </div>
    <div class="accessories">
      {{#if locked}}
        <div class="icon" role="button" {{action (action "locked" false)}}>{{fa-icon "lock"}}</div>
      {{else}}
        <div class="icon" role="button" {{action (action "locked" true)}}>{{fa-icon "unlock"}}</div>
      {{/if}}
    </div>
  </div>
  {{ui-block/scene/tools class="row sizes" pixel=state.pixel update=(action 'pixel') center=(action 'center')}}
</div>

{{#ui-block/tabs class="tabs" selected=tab select=(action "select") as |tabs|}}
  {{tabs.tab label="World" id="world" component=(component "ui-block/world/sidebar/world" state=state)}}
  {{tabs.tab label="Scene" id="scene" component=(component "ui-block/world/sidebar/scene" state=state)}}
  {{tabs.tab label="Node"  id="node"  component=(component "ui-block/world/sidebar/node"  state=state)}}
{{/ui-block/tabs}}
